<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <% if logged_in? && current_user.status == "student" %>
  <div class="row">

    <div class="col-md-8">
      <h3>Techers Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    
    <% elsif logged_in? && current_user.status == "teacher" %>
    <div class="row">

      <div class="col-md-8">
        <h3>Students Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    <% else %>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
