<% provide(:title, "Edit teacher") %>
<% provide(:button_text, "Save changes") %>
<h1>Update your mypage</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@teacher, url: teacher_path(@teacher.user_id)) do |f| %>

    <%= render 'form', f: f %>

    <% end %>


  </div>
</div>
